.footer {
	background-image: url("../images/nightCity_500.jpg");
	background-size: cover;
}

.footer__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: repeat(3, 1fr);
	row-gap: 3em;
	padding: 5em 0;
	align-items: center;
	min-height: 200px;
	background-color: rgba(0, 0, 0, 0.6);
}

.footer__content__heading {
	position: relative;
	margin: 0 auto;
	grid-column: 1/-1;
	grid-row: 1/2;
	font-size: 3rem;
	font-weight: 400;

	&::after {
		content: "";
		position: absolute;
		top: 120%;
		left: 50%;
		transform: translateX(-50%);
		width: 60px;
		height: 3px;
		background-color: #fff;
	}
}

.footer__content__contact,
.footer__content__socials {
	@include flexCenter;
	flex-wrap: wrap;
}

.footer__content__contact {
	grid-column: 1/-1;
	grid-row: 2/3;
	flex-direction: column;
}

.footer__content__socials {
	grid-column: 1/-1;
	grid-row: 3/4;
}

.footer__content__contact__text {
	margin-bottom: 1em;
	font-size: 1.6rem;
	letter-spacing: 1px;
}

.footer__content__heading--contact,
.footer__content__heading--socials {
	width: 100%;
	margin-bottom: 0.7em;
	font-size: 2.5rem;
	text-transform: uppercase;
	letter-spacing: 2px;
	text-align: center;

	&::after {
		content: none;
	}
}

.footer__content__contact__phone-link {
	@include link;
}

.footer__content__content__social-link {
	@include link;
	margin: 0 1.5em;
}

.footer__content__content__social-icon {
	font-size: 2.6rem;

	&:hover {
		color: $red;
	}
}

.footer__year {
	padding: 1.5em 0;
	background-color: #2e2e2e;
	font-size: 1.6rem;
	text-align: center;
}

@media screen and (min-width: map-get($breakpoints, m)) {
	.footer {
		background-image: url("../images/nightCity_1200.jpg");
	}

	.footer__content {
		grid-template-rows: repeat(2, 1fr);
	}

	.footer__content__contact {
		align-self: flex-start;
		grid-column: 1/2;
		grid-row: 2/3;
	}

	.footer__content__socials {
		align-self: flex-start;
		grid-column: 2/3;
		grid-row: 2/3;
	}
}

@media screen and (min-width: map-get($breakpoints, l)) {
	.footer__content__heading {
		font-size: 3.2rem;
	}

	.footer__content__heading--contact,
	.footer__content__heading--socials {
		font-size: 2.7rem;
	}

	.footer__content {
		grid-template-rows: 100px 1fr;
		column-gap: 5em;
	}

	.footer__content__contact,
	.footer__content__socials {
		width: 300px;
	}

	.footer__content__contact {
		margin-left: auto;
	}
	.footer__content__contact__text {
		font-size: 1.8rem;
	}
}
@media screen and (min-width: map-get($breakpoints, xl)) {
	.footer {
		background-image: url("../images/nightCity_1920.jpg");
		background-position: center;
	}
}
