.tableUsers__head__row__input {
	display: block;
	width: 90%;
	margin: 0.7em auto;
	padding: 0.3em 0.6em;
	border: 1px solid transparent;
	border-radius: 5px;
	background-color: rgba(255, 255, 255, 0.8);
	backdrop-filter: blur(10px);
	font-size: 1.4rem;

	&:focus {
		outline: none;
	}
}

.tableUsers__head__row__label {
	position: absolute;
	top: 32%;
	left: 2%;
	padding: 0 0.5em;
	font-size: 20px;
	transition: transform 0.3s;
	pointer-events: none;
}
