.usersPage {
	min-height: 50vh;
	margin: 7em 0;
}

.usersPage__heading {
	position: relative;
	width: fit-content;
	margin: 1.5em auto;
	font-size: 3.2rem;
	letter-spacing: 1px;
	font-weight: 400;

	&::before {
		position: absolute;
		bottom: -0.2em;
		left: 0;
		width: 50px;
		height: 3px;
		background-color: #bb2020;
		content: "";
	}

	span {
		font-weight: 900;
	}
}

@media screen and (min-width: map-get($breakpoints, l)) {
	.usersPage__heading {
		font-size: 3.5rem;
	}
}
